# Python
__pycache__/
*.pyc

# Virtual env
.venv/
venv/

# Data
data/raw/
data/processed/
data/discovered_urls.json
data/database/*.db
data/database/*.parquet

# OS
.DS_Store

# VSCode
.vscode/

# Logs
*.log

# Databases
*.db

# Parquet
*.parquet

# Hugging Face
hf_dataset/

# Charts
analysis/charts/
analysis/charts_clean/
analysis/reports/